<form method="post" action="{{ path('onderdeel_apparaat_delete', {'id': onderdeel_apparaat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ onderdeel_apparaat.id) }}">
    <button class="btn">Delete</button>
</form>
