{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan maximus interdum.
        Cras sodales dui et turpis sagittis mollis. Interdum et malesuada fames ac ante ipsum primis in
        faucibus. Maecenas scelerisque ut nisl ut dignissim. Morbi hendrerit diam risus, vel faucibus
        arcu hendrerit volutpat. Aliquam fermentum lacus sit amet luctus hendrerit. Pellentesque nibh
        felis, placerat quis aliquam in, consectetur non tortor. Phasellus id elit risus. Suspendisse
        placerat risus erat, in sagittis tellus sodales vel. Ut sagittis lacus vitae est mattis ultrices.
        Integer vel sapien laoreet, tempor orci eu, tempor tellus. Ut ut mauris sem. Duis sit amet nulla
        turpis. In hac habitasse platea dictumst. Pellentesque eu eros erat. Proin sagittis nisi eu magna
        pretium posuere.
        <br><br>
        Duis mollis ornare justo, nec sodales justo ornare eu. Phasellus consectetur felis eu sapien
        facilisis, at luctus eros bibendum. Sed non consequat mi. Cras tempus diam vitae augue eleifend
        condimentum volutpat pretium nisl. Morbi mattis est ut massa tristique semper. Pellentesque
        vitae quam tincidunt, tempus nulla id, condimentum nisl. Aliquam tortor tellus, tempus quis
        scelerisque vitae, venenatis vitae dui.
    </p>
</div>
{% endblock %}
